#login {
    width: 100%;
    height: 600px;
}

.mt-15 {
    margin-top: 15px;
}

.mr-15 {
    margin-right: 15px;
}

.mb-15 {
    margin-bottom: 15px;
}

.ml-15 {
    margin-left: 15px;
}

.center-block {
    width: 100%;
}
.divide {
    border-color: #aae;
    border-width: 5px;
}
